#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.balls {
  display: flex;
}

.ball {
  border: 2px solid black;
  width: 50px;
  aspect-ratio: 1/1;
  border-radius: 50%;
  margin: 1rem;
  padding: 1rem;
  background-color: fuchsia;
  font-size: 2rem;
}
